/* -------------------- */
/* base
/* -------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: .05em;
  color: #171717;
  font-family: 'Noto Serif', 'Noto Serif JP', serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.section-wrapper {
  padding: 100px 0 70px;
}

.section-title {
  max-width: 1000px;
  color: #282F35;
  font-size: 6rem;
  font-style: italic;
  margin: 0 auto 80px;
  padding: 0 20px;
}

.section-title::after {
  content: "";
  display: inline-block;
  background-color: #282F35;
  width: 200px;
  height: 5px;
  vertical-align: middle;
  margin-left: 30px;
}

.section-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}

.section-bottom {
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0.05;
  font-size: 9rem;
}

.submit-btn {
  display: block;
  background-color: #F7D43F;
  width: 235px;
  line-height: 60px;
  margin: 0 auto 70px;
  -webkit-box-shadow: 0 0 6px #1b1310;
          box-shadow: 0 0 6px #1b1310;
  border-radius: 30px;
  text-align: center;
  color: #171717;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  border: none;
}

.submit-btn:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

/* -------------------- */
/* header
/* -------------------- */
.header {
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: bold;
  font-style: italic;
  margin: 0 auto;
}

.header a:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.header.fixed {
  position: fixed;
  background-color: #282f35;
  padding: 30px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-title {
  font-size: 2.6rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 30px;
}

.nav__item:last-child {
  margin-right: 0;
}

.burger-btn {
  display: none;
}

body.noscroll {
  overflow: hidden;
}

/* -------------------- */
/* page-title
/* -------------------- */
.page-title-wrapper {
  height: 453px;
  background-image: url(../img/contact-page-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

.page-title {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding-top: 186px;
  color: #fff;
}

.page-title-bottom {
  font-size: 9rem;
  color: #fff;
  opacity: .1;
  margin: 20px 0 0 48px;
}

/* -------------------- */
/* form
/* -------------------- */
.form {
  padding: 100px 0 80px;
}

.form__list {
  max-width: 700px;
  margin: 0 auto 80px;
  padding: 0 50px;
}

.form__item {
  margin-bottom: 25px;
}

.form__item:last-of-type {
  margin-bottom: 0;
}

.form__item .input-text {
  padding: 0 8px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form__checkbox-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__checkbox-item {
  margin-right: 20px;
}

.form__checkbox label, .form__checkbox {
  cursor: pointer;
}

.form__checkbox {
  border: solid 1px #282f35;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}

.form__checkbox:checked {
  background-color: #333;
}

input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: none;
  outline: none;
  border: 1px solid #141414;
  width: 100%;
  color: #171717;
}

textarea {
  height: 170px;
  padding: 0 8px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label:hover {
  cursor: pointer;
}

/* -------------------- */
/* Footer
/* -------------------- */
.footer {
  padding: 30px 0;
  text-align: center;
  font-style: 1.4rem;
  font-weight: bold;
  color: #282f35;
}

@media screen and (max-width: 768px) {
  /* -------------------- */
  /* Base_sp
    /* -------------------- */
  .section-wrapper {
    padding: 100px 0 40px;
  }
  .section-title {
    padding: 0 4vw;
    font-size: 3rem;
    margin-bottom: 50px;
  }
  .section-title::after {
    width: 90px;
  }
  .section-inner {
    padding: 0 4vw;
  }
  .section-bottom {
    font-size: 4rem;
    padding: 0 4vw;
  }
  .link-btn {
    margin-bottom: 40px;
  }
  /* -------------------- */
  /* header_sp
    /* -------------------- */
  .header {
    padding: 30px 4vw 0;
  }
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #282f35;
  }
  .nav__list {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    margin: 0 0 30px;
  }
  .nav__item:last-of-type {
    margin-bottom: 0;
  }
  .burger-btn {
    display: block;
    position: absolute;
    top: 30px;
    right: 4vw;
  }
  .burger-btn .bar {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .burger-btn .bar.bar_top, .burger-btn .bar.bar_middle {
    margin-bottom: 8px;
  }
  .burger-btn.cross {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .burger-btn.cross .bar_top {
    -webkit-transform: rotate(45deg) translate(8px, 8px);
            transform: rotate(45deg) translate(8px, 8px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .burger-btn.cross .bar_middle {
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .burger-btn.cross .bar_bottom {
    -webkit-transform: rotate(-45deg) translate(8px, -8px);
            transform: rotate(-45deg) translate(8px, -8px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .sp-br {
    display: block;
  }
  .pc-br {
    display: none;
  }
  .page-title {
    font-size: 3rem;
  }
  .page-title-bottom {
    font-size: 4rem;
    margin-top: 80px;
  }
  /* -------------------- */
  /* form_sp
    /* -------------------- */
  .form__checkbox-list {
    display: block;
  }
}
/*# sourceMappingURL=contact.css.map */